/*
 This file is part of Deliantra clientV.

 Copyright (©) 2017 Marek Olszewski <m.olszewski@wit.edu.pl>

 Deliantra clientV is free software: you can redistribute it and/or
 modify it under the terms of the Affero GNU General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the Affero GNU General Public Licens
 and the GNU General Public License along with this program. If not, see
 <http://www.gnu.org/licenses/>.

 The authors can be reached via e-mail to <support@deliantra.net>
*/
body , html {
    background-image: url(images/background.png);
}
body , html , * {
    margin : 0;
    padding : 0;
    background-color : black;
    cursor: url('images/pointer.png'), auto;
}

div.window {
    position : absolute;
    border : none;
}

div.window table {
    background-image: url(images/background.png);
    border-collapse: collapse;
}

div.window table td {
    padding:0;
}

div#channels {    
    overflow: hidden;    
}

div#channels table {
    border: 0;
    width: 80%;    
    color: white;
    font: 14px monospace;
    font-weight: bold;
}
.inputbox , div#channels input {
    background: solid red;
    background-color: white;
    color: black;
    border: 1px solid red;
    width: 90%;
}

div#channels table.chat td:nth-child(1) {
    font-size: small;
    width: 80px;
    color: red;
    vertical-align: top;
}

td.tl {
    width: 33px;
    height: 31px;
    background-image: url(images/tl.png);
}

td.tm {    
    height: 33px;
    background-image: url(images/tm.png);
}

td.tr {
    width: 33px;
    height: 31px;
    background-image: url(images/tr.png);
    background-position: left;
    background-repeat: no-repeat;
}

td.bl {
    width: 33px;
    height: 31px;
    background-image: url(images/bl.png);
    background-repeat: no-repeat;
}

td.bm {    
    height: 33px;
    background-image: url(images/bm.png);
    background-repeat: repeat;
}

td.br {
    width: 33px;
    height: 31px;
    background-image: url(images/br.png);
    background-repeat: no-repeat;
}


td.ml {
    width: 33px;
    height: 31px;
    background-image: url(images/ml.png);
}

td.m {
    background-image: none;
    background-repeat: repeat;
}

td.mr {
    width: 33px;
    height: 31px;
    background-image: url(images/mr.png);
    background-position: right;
}

table.login {    
    width:100%;
}

div#loginContainer table {
    margin-bottom: 20px;
}

div#loginContainer table tr:last td {
    width:100%;
    text-align: center;
}

div#loginContainer input {
    border: 1px solid gold;
    background-color: grey;
    width: 150px;
}
div#loginContainer {
    text-align: center;
}

div#loginContainer h3 ,div#loginContainer h1 {
    width: 100%;
    text-align: center;
    color: gold;
}